@media screen and (width < 800px) {
  .logo h1 {
    font-size: 2em;
  }
  .navbar-link {
    font-size: 1.4em;
    margin-left: 25px;
  }
}

@media screen and (width < 600px) {
  .navbar {
    padding: 15px 20px;
  }
  .mobile-icon {
    display: block;
  }
  .menulist {
    top: 50px;
    left: 0px;
    width: 100%;
    padding: 20px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    text-align: center;
    pointer-events: none;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.6s ease;
    background-color: #1a1e24e6;
  }
  .menulist li {
    width: 100px;
    margin: auto;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #6e6c6c;
  }
  .menulist li:last-child {
    margin-bottom: 0px;
  }

  .navbar-link {
    color: #fff;
    font-size: 1.2em;
    margin-left: 0px;
  }

  .active .menulist {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .active .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}
/* End of Header Section */

@media screen and (width < 992px) {
  .hero-content h2 {
    font-size: 4.4em;
  }
  .hero-container p {
    font-size: 1.5em;
    max-width: 85%;
  }
  .hero-btn {
    font-size: 1.3em;
  }
}

@media screen and (width < 600px) {
  .hero-content h2 {
    font-size: 3.9em;
  }
}

@media screen and (width < 526px) {
  .hero-content h2 {
    font-size: 3.5em;
  }
  .hero-container p {
    font-size: 1.2em;
    max-width: 100%;
  }
  .hero-btn {
    font-size: 1.3em;
    margin-top: 5px;
    padding: 10px 28px;
  }
}
/* End of Hero Section */

@media screen and (width < 992px) {
  .about-text-container h2 {
    font-size: 3.3em;
    margin-bottom: 10px;
  }
  .before-head-text::after {
    width: 100px;
  }
  .about-image-section {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (width < 768px) {
  .about-text-container {
    padding: 40px 0px 40px;
  }
  .about-left-child {
    width: 100%;
  }
  .about-content-wrapper {
    display: flex;
    margin-top: 5px;
    align-items: start;
    flex-direction: column;
  }
  .about-right-child {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (width < 576px) {
  .about-text-container h2 {
    font-size: 3em;
    margin-bottom: 0px;
  }
  .about-left-child p {
    font-size: 1.4em;
  }
  .about-left-child-list li {
    margin-top: 5px;
    font-size: 1.4em;
  }
  .about-left-child-list li i {
    font-size: 1em;
    margin-right: 3px;
  }
  .about-right-child p {
    font-size: 1.4em;
  }
  .about-right-content-btn {
    font-size: 1.4em;
    padding: 6px 20px;
  }
  .btn_ripple {
    height: 50px;
    width: 50px;
    font-size: 1.5em;
  }
  .about-section-right-content {
    padding: 50px 20px;
  }
  .about-section-right-content h2 {
    font-size: 2.6em;
  }
}
/* End of About Section */
