* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
/* Here Import Raleway font-family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
/* Here Import Open Sans font-family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
/* Here Import Poppins font-family */

body {
  background-color: #f2f2f2;
  font-size: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1250px;
}

.btn {
  border: 0;
  cursor: pointer;
  font-size: 1.4em;
  border-radius: 4px;
  padding: 12px 36px;
  letter-spacing: 0.02em;
  font-family: "Raleway", sans-serif;
}

.padding-y {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-x {
  padding-left: 20px;
  padding-right: 20px;
}

.before-head-text {
  display: flex;
  color: #aaa;
  font-size: 1.3em;
  line-height: 1.2em;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.before-head-text::after {
  content: "";
  width: 140px;
  height: 1.5px;
  margin-left: 5px;
  border-radius: 0.5px;
  background-color: #ff6347;
}

.section-header {
  color: #0f2f57;
  font-weight: 700;
  font-size: 3.6em;
  word-spacing: 0.1em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
/* Global Style */

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.logo h1 {
  padding: 1px;
  cursor: pointer;
  font-size: 2.6em;
  line-height: 1em;
  color: #0b2341;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.mobile-icon {
  display: none;
}
.fas {
  cursor: pointer;
  font-size: 1.7em;
}
.menulist {
  display: flex;
  align-items: center;
}
.menulist li {
  list-style-type: none;
}
.navbar-link {
  color: #0b2341;
  font-size: 1.5em;
  margin-left: 30px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
.navbar-link:hover {
  color: #ff6347;
  transition: all ease 0.3s;
}
/* End of Header Section */

.hero-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/home-bg.jpg");
}
.hero-container::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(8, 7, 7, 0.6);
}
.hero-content {
  z-index: 2;
  padding: 50px 20px;
}
.hero-content h2 {
  color: #fff;
  font-size: 4.8em;
  line-height: 1.2em;
  word-spacing: 0.02em;
  letter-spacing: 0.01em;
  font-family: "Raleway", sans-serif;
}
.hero-container p {
  color: #fff;
  max-width: 70%;
  font-size: 1.7em;
  margin: 15px 0px;
  line-height: 1.2em;
  text-align: justify;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Open Sans", sans-serif;
}
.hero-btn {
  color: #fff;
  font-size: 1.5em;
  margin-top: 10px;
  background-color: rgb(237, 80, 46);
  transition: all 0.3s ease-in;
}
.hero-btn:hover {
  background-color: #b92f10b3;
}
/* End of Hero Section */

.about-text-container {
  padding: 50px 0px 50px;
}
.about-text-container h2 {
  margin-top: 5px;
  font-weight: 600;
  margin-bottom: 15px;
}
.about-content-wrapper {
  display: flex;
  justify-content: space-between;
}
.about-left-child {
  padding: 20px 0px;
  width: 600px;
}
.about-left-child p {
  font-size: 1.6em;
  line-height: 1.5em;
  text-align: justify;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Open Sans", sans-serif;
}
.about-left-child-list {
  margin-top: 10px;
}
.about-left-child-list li {
  display: flex;
  margin-top: 15px;
  font-size: 1.5em;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.about-left-child-list li i {
  font-size: 1.2em;
  color: #ed502e;
  margin-right: 5px;
}
.about-right-child {
  width: 600px;
  padding: 20px 0px;
  text-align: justify;
  margin-left: 30px;
}
.about-right-child p {
  font-size: 1.6em;
  line-height: 1.5em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Open Sans", sans-serif;
}
.about-right-content-btn {
  color: #ed502e;
  margin-top: 20px;
  padding: 10px 38px;
  background: transparent;
  border: 2px solid #ed502e;
  transition: all 0.3s ease-in-out;
}
.about-right-content-btn:hover {
  color: #fff;
  background-color: #ed502e;
}
.about-image-section {
  min-height: 80vh;
  width: 100%;
  display: flex;
}
.about-section-left-image {
  width: 100%;
  z-index: 0;
  display: flex;
  min-height: 70vh;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/about_left_banner.jpg");
}
.about-section-left-image::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(8, 7, 7, 0.5);
}
.btn_ripple {
  z-index: 2;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  color: #fff;
  display: grid;
  cursor: pointer;
  font-size: 2em;
  border-radius: 50%;
  place-items: center;
  animation-name: ripple;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  background-color: #ed502e;
  animation-iteration-count: infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
  }
  80% {
    border: none;
    box-shadow: 0 0 0 20px #fff4, 0 0 0 40px #fff4;
  }
  100% {
    border: 2px dashed #fff;
    box-shadow: 0 0 0 20px #fff1, 0 0 0 40px #fff1;
  }
}

.about-section-right-content {
  width: 100%;
  padding: 70px 38px;
  background-color: #f6f9fd;
}
.about-section-right-content h2 {
  color: #123a6d;
  font-size: 3.6em;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.2em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Raleway", sans-serif;
}
.about-section-right-content p {
  color: #9c9d9d;
  font-size: 1.5em;
  line-height: 1.4em;
  font-family: "Open Sans", sans-serif;
}
.about-accordion-container .content-box {
  position: relative;
  margin: 15px 0px;
}
.about-accordion-container .content-box .label {
  position: relative;
  padding: 10px;
  color: #0b2341;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 1.2em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
.about-accordion-container .content-box .label::before {
  top: 50%;
  content: "+";
  right: 20px;
  font-size: 1.4em;
  position: absolute;
  transform: translateY(-50%);
}
.about-accordion-container .content-box.active .label::before {
  content: "-";
}
.about-accordion-container .content-box .content {
  height: 0;
  overflow-y: auto;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  background-color: #fff;
}
.about-accordion-container .content-box .content p {
  font-size: 1.4em;
  letter-spacing: 0.01em;
  line-height: 1.4em;
  color: #737373;
}
.about-accordion-container .content-box.active .content {
  padding: 15px;
  height: fit-content;
  text-align: justify;
}
/* End of About Section */

.service-container {
  padding: 50px 0px 50px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-card {
  width: 380px;
  min-height: 400px;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.service-card:hover {
  background-color: #ed502e;
}
.service-card-icon {
  width: 64px;
  height: 64px;
  color: #fff;
  font-size: 3em;
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  align-items: center;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  background-color: #ed502e;
  box-shadow: -8px -8px 0px 2px #f9c6bb;
}
.service-card:hover .service-card-icon {
  color: #ed502e;
  background-color: #f6f9fd;
}

.service-card h3 {
  font-size: 2.4em;
  color: #132b48;
  font-weight: 400;
  line-height: 1.4em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Raleway", sans-serif;
}
.service-card:hover h3 {
  color: #f2f2f2;
}
.service-card:hover p {
  color: #f2f2f2;
}
.service-card p {
  text-align: center;
  font-size: 1.6em;
  margin-top: 15px;
  line-height: 1.2em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Open Sans", sans-serif;
}
/* End of Service Section */

.call-action-wrapper {
  width: 100%;
  display: flex;
  min-height: 45vh;
  align-items: center;
  text-align: center;
  background-color: #0b2341;
}
.call-action-section h3 {
  color: #fff;
  font-size: 2.8em;
  line-height: 1.5em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  font-family: "Raleway", sans-serif;
}
.call-action-section p {
  color: #fff;
  font-size: 1.6em;
  line-height: 1.2em;
  word-spacing: 0.01em;
  letter-spacing: 0.09em;
  font-family: "Open Sans", sans-serif;
}
.call-action-section .btn {
  color: #fff;
  font-size: 1.4em;
  margin-top: 20px;
  padding: 10px 46px;
  border: 2px solid #ed502e;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  font-family: "Raleway", sans-serif;
}
.call-action-section .btn:hover {
  background-color: #ed502e;
}
/* End of Call Banner Section */

.team-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f9fd;
}
.team-member-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member-image {
  width: 292px;
  height: 320px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.team-member-image img {
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.overlay-bottom {
  opacity: 0;
  text-align: center;
  position: absolute;
  transition: all 0.2s ease;
  background: linear-gradient(
    0deg,
    rgba(11, 35, 65, 0.9) 0%,
    rgba(11, 35, 65, 0.8) 20%,
    rgba(0, 212, 255, 0) 100%
  );
}
.team-member-image:hover .overlay-bottom {
  opacity: 1;
}
.overlay-left {
  opacity: 0;
  height: 320px;
  width: 50px;
  text-align: center;
  position: absolute;
  transition: all 0.2s ease;
  background: linear-gradient(
    0deg,
    rgba(11, 35, 65, 0.9) 0%,
    rgba(11, 35, 65, 0.8) 20%,
    rgba(0, 212, 255, 0) 100%
  );
}
.team-member-image:hover .overlay-left {
  opacity: 1;
}
.overlay-bottom-animation {
  height: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}
.team-member-image:hover .overlay-bottom-animation {
  height: 100%;
}
.overlay-left-animation {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
}
.team-member-image:hover .overlay-left-animation {
  width: 50px;
}
.team-member-info {
  left: 0;
  opacity: 0;
  width: 100%;
  bottom: -44px;
  position: absolute;
  transition: all 0.4s ease;
}
.team-member-image:hover .team-member-info {
  opacity: 1;
  bottom: 8px;
}
.team-member-info h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 2px;
  line-height: 1.3em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Raleway", sans-serif;
}
.team-member-info span {
  color: #fff;
  font-style: italic;
  font-size: 1.3em;
  line-height: 1.2em;
  word-spacing: 0.01em;
  letter-spacing: 0.02em;
  font-family: "Open Sans", sans-serif;
}
.overlay-left i {
  display: block;
  color: #fff;
  margin-top: 30px;
  font-size: 2.2em;
  cursor: pointer;
  transition: all 0.4s ease;
}
.overlay-left i:hover {
  color: #ed502e;
}
/* End of Team Section */

.contact-section-container {
  width: 100%;
  min-height: 90vh;
  background-color: #f6f6f6;
}
.contact-section {
  display: flex;
  justify-content: space-between;
}
.contact-section:nth-child(2) {
  flex-shrink: 5;
}
.contact-left {
  width: 100%;
  min-height: 50vh;
  padding: 40px 20px;
  background-color: #fff;
}
.envelope-phone-combo-section {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.contact-left .contact-map-box {
  width: 100%;
}
.contact-left .contact-envelope-box {
  width: 100%;
}
.contact-left .contact-phone-box {
  width: 100%;
  margin-left: 10px;
}
.contact-right {
  width: 50%;
  padding: 20px;
  min-height: 50vh;
  margin-left: 20px;
  flex-shrink: 2;
  transition: all 0.4s ease;
  background-color: #fff;
}
.contact-right:hover {
  box-shadow: 0px 0px 20px 5px #e3e0e0;
}
.contact-map-box,
.contact-envelope-box,
.contact-phone-box {
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s ease;
  background-color: #f6f6f6;
}
.contact-map-box:hover,
.contact-envelope-box:hover,
.contact-phone-box:hover {
  box-shadow: 0px 0px 15px 5px #dad5d5;
}

.map-icon-box,
.envelope-icon-box,
.phone-icon-box {
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  margin: auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px dotted #fbdad2;
}
.map-icon-box i,
.envelope-icon-box i,
.phone-icon-box i {
  font-size: 2.5em;
  color: #ed502e;
}
.contact-map-box h3,
.contact-envelope-box h3,
.contact-phone-box h3 {
  color: #777777;
  font-size: 2em;
  font-weight: 700;
  margin: 10px 0px;
  line-height: 1.2em;
  letter-spacing: 0.001em;
  font-family: "Raleway", sans-serif;
}
.contact-map-box p,
.contact-envelope-box p,
.contact-phone-box p {
  padding: 0;
  color: #102745;
  font-size: 1.4em;
  margin-bottom: 4px;
  font-family: "Open Sans", sans-serif;
}
.name-mail-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-right form {
  text-align: center;
}
.name-field,
.mail-field {
  height: 35px;
  width: 300px;
}
.name-field {
  margin-right: 10px;
}

.name-field input,
.mail-field input,
.subject-field input,
.message-field textarea {
  width: 100%;
  height: 100%;
  border: none;
  color: #212529;
  font-size: 1.4em;
  margin: 20px 0px;
  border-radius: 4px;
  padding: 10px 15px;
  letter-spacing: 0.06em;
  outline: 1px solid #ced4da;
  font-family: "Open Sans", sans-serif;
}
.subject-field {
  margin-top: 20px;
}
.message-field textarea {
  width: 100%;
  margin: 0;
}
.contact-submit-btn button {
  color: #fff;
  margin-top: 10px;
  background-color: #ed502e;
}
/* End of Contact Section */

.footer-container {
  width: 100%;
  min-height: 70vh;
  background-color: #071527;
  padding: 30px 0px;
}
.footer-top-section {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 2fr 3fr 2fr;
  border-bottom: 1px solid #0f2f57;
}
.multi-footer-banner {
  width: 100%;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  background-color: #05101e;
  border-top: 4px solid #ed502e;
}
.multi-footer-banner h5 {
  font-size: 2.4em;
  margin: 0 0 20px 0;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  font-family: "Raleway", sans-serif;
}

.multi-footer-banner p {
  font-size: 1.4em;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  padding-bottom: 30px;
  font-family: "Raleway", sans-serif;
}
.social-media-footer i {
  font-size: 2em;
  padding: 8px;
  border-radius: 2px;
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: #0a1e38;
}
.social-media-footer i:hover {
  background-color: #ed502e;
}
.useful-links-footer,
.service-links-footer,
.newsletter-footer {
  color: #fff;
}
.useful-links-footer h4,
.service-links-footer h4,
.newsletter-footer h4 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
  font-family: "Raleway", sans-serif;
}
.Useful-service-joint-links-footer {
  display: flex;
  justify-content: space-evenly;
}
.footer-link-list li,
a {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.2em;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease-in-out;
}
.footer-link-list a:hover {
  color: #ed502e;
}
.footer-link-list li i {
  color: #ed502e;
  margin-right: 2px;
}
.newsletter-footer {
  width: 100%;
}
.newsletter-footer p {
  font-size: 1.5em;
  margin-top: 20px;
  letter-spacing: 0.03em;
  font-family: "Open Sans", sans-serif;
}
.newsletter-message-section {
  display: flex;
  margin: 40px 0px 0px;
}
.newsletter-message-section input {
  width: 100%;
  border: 0;
  padding: 10px;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "Open Sans", sans-serif;
}

.newsletter-message-section button {
  border: 0;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 0.05em;
  background-color: #ed502e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
