* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
/* Here Import Raleway font-family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
/* Here Import Open Sans font-family */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1250px;
}
body {
  font-size: 10px;
  overflow-x: hidden;
}

/* Header Css */
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.logo h1 {
  cursor: pointer;
  font-size: 2.6em;
  line-height: 1em;
  color: #0b2341;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.mobile-icon {
  display: none;
}
.fas {
  cursor: pointer;
  font-size: 1.7em;
}
/* .mobile-icon .fa-bars {
  transition: all 0.2s ease;
  transform: rotate(180deg);
}
.mobile-icon .fa-times {
  transition: all 0.2s ease;
  transform: translate(360deg);
} */
.menulist {
  display: flex;
  align-items: center;
}
.menulist li {
  list-style-type: none;
}
.navbar-link {
  color: #0b2341;
  font-size: 1.5em;
  margin-left: 30px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
.navbar-link:hover {
  color: #ff6347;
  transition: all ease 0.3s;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 800px) {
  .logo h1 {
    font-size: 2em;
  }
  .navbar-link {
    font-size: 1.4em;
    margin-left: 25px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 15px 20px;
  }
  .mobile-icon {
    display: block;
  }
  .menulist {
    top: 50px;
    left: 0px;
    width: 100%;
    padding: 20px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    text-align: center;
    pointer-events: none;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.6s ease;
    background-color: #1a1e24e6;
  }
  .menulist li {
    width: 100px;
    margin: auto;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #6e6c6c;
  }
  .menulist li:last-child {
    margin-bottom: 0px;
  }

  .navbar-link {
    color: #fff;
    font-size: 1.2em;
    margin-left: 0px;
  }

  .active .menulist {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .active .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}
